<% method = (@track.persisted? ? :put : :post) %>
<% action = (@track.persisted? ? album_url(band) : albums_url) %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label>Title
    <input
    type='text'
    name='track[title]'
    value='<%= @track.title %>'
    >
  </label>
  <br>

  <label>Album
    <select name="track[album_id]" >
      <option></option>
      <% @albums.each do |album| %>
        <option
          <%= @album == album ? "selected" : "" %>
          value="<%= album.id %>">
          <%= album.title %>
        </option>
      <% end %>
    </select>
  </label>
  <br>



  <input
    type='submit'
    value='Add'>

 </form>

