<% method = (@track.persisted? ? :put : :post) %>
<% action = (@track.persisted? ? track_url(@track) : tracks_url) %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label>Title
    <input
    type='text'
    name='track[title]'
    value='<%= @track.title %>'
    >
  </label>
  <br><br>

  <label>Album
    <select name="track[album_id]" >
      <option></option>
      <% @albums.each do |album| %>
        <option
          <%= @track.album == album ? "selected" : "" %>
          value="<%= album.id %>">
          <%= album.title %>
        </option>
      <% end %>
    </select>
  </label>
  <br><br>

  <input name="track[bonus]" value="0" type="hidden">
  <input type="checkbox" name="track[bonus]" value="1"
    <%= 'checked' if @track.bonus == true %>
    >
     Bonus track
  <br>
  <br>

  <textarea cols="30" rows="20"
    name="track[lyrics]"
    value="<%= @track.lyrics %>">
  </textarea>

  <br><br>
  <input
    type="submit"
    value="Save">
  <br>
 </form>

