<p id="notice"><%= notice %></p>

<h2>Track details</h2>

<p>Title: <%= @track.title %></p>

<p>Album: <%= @track.album.title %><%= " (bonus track)" if @track.bonus == true %></p>

<h4>Lyrics:</h4>
<%= @track.lyrics %><%= "not available" unless @track.lyrics %>
</p>


<%= link_to 'Edit details', edit_track_path(@track.id) %>

