<p id="notice"><%= notice %></p>

<h2>Track details</h2>

<p>Title: <%= @track.title %></p>

<p>Band: <%= @track.band.name %></p>

<p>Album: <%= @track.album.title %><%= " (bonus track)" if @track.bonus == true %></p>

<h4>Lyrics:</h4>
<%= @track.lyrics %><%= "not available" unless @track.lyrics %>
</p>

<h4>Notes:</h4>
<ul>
  <% @track.notes.each do |note| %>
  <li><b><%= "Note by #{note.author.email}" %></b><br>
      <%= note.text %>
    </li>
  <% end %>
</ul>
<%= render partial: "notes/notes" %>

</p>

<%= link_to 'Add a note', new_track_note_url(@track.id) %>


<%= button_to 'Delete track', { :action => "destroy", :id => @track.id },
          :confirm => "Are you sure?", :method => :delete %>


<%= link_to 'Edit details', edit_track_url(@track.id) %><br>
<%= link_to 'Go to album page', album_url(@track.album.id) %><br>
<%= link_to 'Go to band page', band_url(@track.band.id) %>