<% method = (@album.persisted? ? :put : :post) %>
<% action = (@album.persisted? ? album_url(@album.band) : albums_url) %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label>Title of the album
    <input
    type='text'
    name='album[title]'
    value='<%= @album.title %>'
    >
  </label>
  <br>

  <label>Band
    <select name="album[band_id]" >
      <option></option>
      <% @bands.each do |band| %>
        <option
          <%= @album.band == band ? "selected" : "" %>
          value="<%= band.id %>">
          <%= band.name %>
        </option>
      <% end %>
    </select>
  </label>
  <br>

  <label>Year
    <input
    type='text'
    name='album[year]'
    value='<%= @album.year %>'
    >
  </label>
  <br>

  <label>Album type
    <select name="album[album_type]" >
      <% Album::ALBUM_TYPES.each do |album_type| %>
        <option
          <%= @album.album_type == album_type ? "selected" : "" %>
          value="<%= album_type %>">
          <%= album_type %>
        </option>
      <% end %>
    </select>
  </label>
  <br>

  <input
    type='submit'
    value='Add'>

 </form>


