<p id="notice"><%= notice %></p>

<h2><em><%= @album.title %></em> by <%= @album.band.name %></h2>

<p>This <%= @album.album_type %> released in <%= @album.year %></p>

<h3>Tracklist</h3>

<ul>
  <% @tracks.each do |track| %>
  <li><%= "#{track.track_number} - " if track.track_number %><%= link_to track.title, track %><%= ", #{track.length}" if track.length  %>

    </li>
  <% end %>
</ul>

<%= link_to 'Add a track', new_album_track_url(@album) %>
<br>
<%= link_to 'Edit informations', edit_album_url(@album) %>
<br>
<%= link_to 'Back to band page', band_url(@band) %>
