<p id="notice"><%= notice %></p>

<h1><%= @band.name %></h1>

<h3>Albums</h3>

<ul>
  <% @band.albums.each do |album| %>
  <li><%= link_to album.title, album %>, <%= album.year %> (<%= album.album_type %>)

    </li>
  <% end %>
</ul>


<h3>Tracks</h3>

<ul>
  <% @band.albums.each do |album| %>
    <% album.tracks.each do |track| %>
      <li><%= link_to track.title, track %> </li>
    <% end %>
  <% end %>
</ul>


<%= link_to 'Add an album', new_band_album_url(@band) %>
<br>
<%= link_to 'Edit this band', edit_band_path(@band) %>
<br>
<%= link_to 'Back to bands list', bands_path %>
