<!DOCTYPE html>
<html>
<head>
  <title>La Boite à Disques</title>

  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user.nil? %>
  <p><%= link_to 'Sign in', new_session_url %></p>
  <% else %>
  <p><%= current_user.email %></p>
  <p><%= button_to "Logout", session_url, :method => :delete %></p>

  <% end %>
      <hr>
<%= yield %>

</body>
</html>
